/* Filter */
.filter-wrapper {
  padding: 35px 70px;

  color: #ffffff;

  background-color: #82b3d3;
  background-image: url("../images/background/background_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../images/icon/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  padding: 5px;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link-home {
  /* padding-left: 0; */
  margin-left: -5px;
}

/* Catalog-filter */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}
.catalog-filter-control-columns {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-control-column:not(:last-child) {
  margin-right: 20px;
}

.catalog-filter-price-columns {
  width: 550px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-price-column {
  width: 290px;
}

.catalog-filter-buttons {
  width: 190px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price-label {
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  color: #000000;
  opacity: 0.3;
}

.catalog-filter-price-input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #000000;
}

.catalog-filter-price-input {
  background-color: #f2f2f2;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-button {
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.catalog-button-send {
  background-color: #82b3d3;
}

.catalog-button-reset {
  background-color: transparent;
}

.catalog-pagination {
  background-color: #ffffff;
}

.catalog-pagination-list {
  list-style: none;
}

/* Catalog */
.catalog {
  padding: 50px 70px 60px;
}

/* catalog-sort */

.catalog-sort {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-sort-result {
  margin: 0;
  margin-right: 40px;
  flex-grow: 1;
}

.catalog-sort-control {
  min-width: 292px;
  margin-right: 70px;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 21px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
}

.catalog-sort-list {
  width: 168px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-sort-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-sort-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
}

.catalog-sort-button-tile {
  background-image: url(../images/icon/sort_tile.svg);
}

.catalog-sort-button-slideshow {
  background-image: url(../images/icon/sort_slideshow.svg);
}

.catalog-sort-button-list {
  background-image: url(../images/icon/sort_list.svg);
}

.catalog-sort-button-active {
  border-color: #000000;
}

/* Catalog-product */
.catalog-product {
  border-bottom: 1px solid #e6e6e6;
}

.catalog-product-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  display: grid;
  gap: 20px;

  list-style: none;
}

/* Catalog-product | Grid | Tile */

.catalog-product-list-tile {
  grid-template-columns: repeat(3, 1fr);
}

.catalog-product-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto max-content min-content max-content;
  column-gap: 20px;
  row-gap: 16px;

  font-size: 18px;
  line-height: 21px;

  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-product-link {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-decoration: none;
  color: #000000;
}

.catalog-product-title {
  margin: 0;

  order: 1;
}

.catalog-product-img {
  height: 212px;
  margin-bottom: 16px;
  object-fit: contain;

  color: #ffffff;
  background-color: #82b3d3;
}

/* .catalog-product-description {
  font-size: 18px;
  line-height: 21px;
} */

.catalog-product-price {
  margin: 0;
}

.catalog-product-button {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.catalog-product-info {
  background-color: #756157;
}

.catalog-product-button-add {
  background-color: #82b3d3;
}

.catalog-product-button-active {
  background-color: #7db54f;
}

.catalog-product-star-list {
  align-self: center;

  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.catalog-product-star-item {
  width: 18px;
  height: 18px;

  background-image: url(../images/icon/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-product-star-item:not(:last-child) {
  margin-right: 6px;
}

.catalog-product-raiting-text {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Catalog-product-card | Grid | Slideshow | Start */
/* Стили сетки для разметки карточек на всю ширину */
/* .catalog-product-list-slideshow {
  grid-template-columns: 1fr;
}

.catalog-product-card {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-product-link {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

.catalog-product-title {
  order: 0;
  grid-column: 1 / -1;
  margin-bottom: 18px;
}

.catalog-product-img {
  margin-bottom: 0;
}

.catalog-product-button,
.catalog-product-star-list,
.catalog-product-raiting-text {
  align-self: end;
} */

/* Catalog-product-card | Grid | Slideshow | End */

/* Catalog-product-card | Grid | List | Start */
/* Стили сетки для разметки карточек в виде списка */
/* .catalog-product-list-list {
  grid-template-columns: 1fr;
}

.catalog-product-card {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-product-link {
  flex-direction: row;

  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.catalog-product-title {
  order: 1;
  grid-column: 1 / -1;
  margin-right: 18px;
}

.catalog-product-img {
  width: 175px;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 0;
} */
/* Catalog-product-card | Grid | List | End */

/* Pagination */
.catalog-pagination {
  padding-top: 40px;
}

.catalog-pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-pagination-link {
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.catalog-pagination-link-active {
  color: #000000;

  background-color: #f2f2f2;
}

.catalog-pagination-more {
  color: #000000;

  background-color: transparent;
}

/* Subscribe */
.subscribe-inner {
  color: #333333;

  background-color: #ffffff;
  background-image: none;
}

.subscribe-inner .subscribe-title {
  color: #000000;
}
