/* Filter */
.filter-wrapper {
  padding: 35px 70px;

  color: var(--extra-light);

  background-color: var(--medium-accent);
  background-image: url("../images/background/background_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-image: url("../images/icon/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link {
  padding: 5px;
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  outline: none;
  color: var(--extra-light);

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 1;
}

.breadcrumbs-link-active:hover {
  opacity: 1;
}

.breadcrumbs-link-home {
  margin-left: -5px;

  border-radius: 8px;
  outline: solid 1px transparent;
  outline-offset: -5px;

  transition-property: transform, outline-color, opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.breadcrumbs-link-home:hover,
.breadcrumbs-link-home:focus {
  transform: scale(1.3);
}

.breadcrumbs-link-home:focus {
  outline: solid 1px var(--extra-light);
}

.breadcrumbs-link-home:active {
  transform: scale(1);
  outline: none;
}

/* Catalog-filter */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  border: none;
}

.catalog-filter-control-columns {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-control-column {
  width: 200px;
}

.catalog-filter-control-column:nth-child(odd) {
  margin-right: 20px;
}

.catalog-filter-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-price-columns {
  max-width: 550px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-price-column {
  margin-right: 70px;
  width: 290px;
}

.catalog-filter-price {
  margin-bottom: 36px;
  display: flex;
}

.catalog-filter-price-control {
  position: relative;
  width: 50%;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-control {
  position: relative;
  padding-left: 36px;
  display: block;

  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

  cursor: pointer;
}

.catalog-control:hover {
  opacity: 0.6;
}

.catalog-control-input:focus + .catalog-control-mark,
.catalog-control-input:focus + .catalog-control-radio {
  outline-color: var(--main-accent);
}

.catalog-control-input:active {
  opacity: 0.6;
}

.catalog-control-mark {
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;

  border-radius: 4px;
  outline: 3px solid transparent;

  background-color: var(--extra-light);

  transition-property: outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-control-input[type="checkbox"]:checked + .catalog-control-mark {
  background-image: url("../images/icon/control_checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-control-radio {
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  outline: 3px solid transparent;

  background-color: var(--extra-light);

  transition-property: outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-control-input[type="radio"]:checked + .catalog-control-radio {
  background-image: url("../images/icon/control_radio.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-control-label {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price-min {
  margin-right: 3px;
}

.catalog-filter-price-label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  color: var(--extra-dark);
  opacity: 0.3;
}

.catalog-filter-price-input {
  width: 100%;
  padding: 12px 60px 12px 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: var(--extra-dark);

  border-radius: 4px;
  border: none;
  outline: 3px solid transparent;

  background-color: var(--basic-light);

  transition-property: background-color, outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s, 0.3s;
}

.catalog-filter-price-input::-webkit-outer-spin-button,
.catalog-filter-price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-price-input::placeholder {
  color: var(--extra-dark);
}

.catalog-filter-price-input:hover,
.catalog-filter-price-input:focus {
  background-color: var(--second-light);
}

.catalog-filter-price-input:focus {
  background-color: var(--second-light);
  outline-color: var(--main-accent);
}

.catalog-filter-price-input:active {
  outline-color: var(--extra-dark);
  background-color: var(--basic-light);
}

.catalog-filter-price-min-number {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-price-max-number {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-range-control {
  padding: 8px 0;
}

.catalog-filter-range-scale {
  position: relative;
  height: 4px;

  background-color: var(--extra-light-03);
}

.catalog-filter-range-bar {
  position: absolute;
  height: 4px;

  background-color: var(--extra-light);
}

.catalog-filter-range-toogle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

  border-radius: 5px;
  border: none;
  outline: 3px solid transparent;

  cursor: pointer;

  background-color: var(--extra-light);

  transition-property: outline-color, outline-width;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-filter-range-toogle:hover,
.catalog-filter-range-toogle:focus {
  outline-color: var(--main-accent);
}

.catalog-filter-range-toogle:active {
  outline-width: 2px;
}

.catalog-filter-range-toogle-min {
  left: 0;
}

.catalog-filter-range-toogle-max {
  right: 0;
}
.catalog-filter-buttons {
  width: 190px;
  margin-top: 56px;
}

.catalog-button {
  width: 100%;
  margin-bottom: 32px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;

  outline: solid 3px transparent;

  color: var(--extra-light);

  transition-property: background-color, color, opacity, outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-button-send {
  background-color: var(--main-accent);
}

.catalog-button-send:hover,
.catalog-button-send:focus {
  background-color: var(--medium-accent);
}

.catalog-button-send:active {
  color: var(--extra-light-08);
}

.catalog-button-send:disabled {
  background-color: var(--second-light);
}

.catalog-button-reset {
  background-color: transparent;
}

.catalog-button-reset:hover {
  opacity: 0.6;
  outline-color: transparent;
}

.catalog-button-reset:focus {
  outline-color: var(--main-accent);
}

.catalog-button-reset:active {
  opacity: 0.3;
  outline-color: transparent;
}

.catalog-button-reset:disabled {
  opacity: 0.1;
}

.catalog-button:last-child {
  margin-bottom: 0;
}

.catalog-pagination {
  background-color: var(--extra-light);
}

.catalog-pagination-list {
  list-style: none;
}

/* Catalog */
.catalog {
  padding: 50px 70px 60px;
}

.catalog-sort {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-sort-result {
  margin: 0;
  margin-right: 40px;
  flex-grow: 1;
}

.catalog-sort-control {
  min-width: 292px;
  margin-right: 70px;
  padding: 14px 20px;
  padding-right: 50px;

  font-size: 18px;
  line-height: 21px;

  border: 2px solid var(--second-light);
  border-radius: 4px;
  outline: none;

  background-color: var(--extra-light);
  background-image: url("../images/icon/arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;

  transition-property: color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  appearance: none;
}

.catalog-sort-control:hover,
.catalog-sort-control:focus {
  border-color: var(--medium-accent);

  cursor: pointer;
}

.catalog-sort-control:active {
  border-color: var(--second-dark);
}

.catalog-sort-control:disabled {
  color: var(--extra-dark-03);
  border-color: var(--extra-dark-03);
  background-image: url("../images/icon/arrow_disabled.svg");

  cursor: auto;
}
.catalog-sort-list {
  width: 168px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-sort-item:not(:last-child) {
  margin-right: 8px;
}

.catalog-sort-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid var(--second-light);
  border-radius: 4px;
  outline: none;

  background-repeat: no-repeat;
  background-position: center;

  transition-property: background-color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-sort-button:hover,
.catalog-sort-button:focus {
  border-color: var(--main-accent);
}

.catalog-sort-button:active {
  border-color: var(--extra-dark);
}

.catalog-sort-button-tile {
  background-image: url("../images/icon/sort_tile.svg");
}

.catalog-sort-button-slideshow {
  background-image: url("../images/icon/sort_slideshow.svg");
}

.catalog-sort-button-list {
  background-image: url("../images/icon/sort_list.svg");
}

.catalog-sort-button-active {
  border-color: var(--extra-dark);
}

/* Catalog-product */
.catalog-product {
  border-bottom: 1px solid var(--modal-second-light);
}

.catalog-product-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  display: grid;
  gap: 20px;

  list-style: none;
}

/* Catalog-product | Grid | Tile */
.catalog-product-list-tile {
  grid-template-columns: repeat(3, 1fr);
}

.catalog-product-list-tile .catalog-product-card {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto max-content min-content max-content;
  column-gap: 20px;
  row-gap: 16px;

  font-size: 18px;
  line-height: 21px;

  background-color: var(--extra-light);
  border: 1px solid var(--modal-second-light);
  border-radius: 4px;
}

.catalog-product-list-tile .catalog-product-link {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: var(--extra-dark);

  outline: none;

  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.catalog-product-link:hover,
.catalog-product-link:focus {
  color: var(--main-accent);
}

.catalog-product-link:active {
  color: var(--medium-accent);
}

.catalog-product-title {
  margin: 0;

  order: 1;
}

.catalog-product-img {
  height: 210px;
  margin-bottom: 16px;
  object-fit: contain;

  color: var(--extra-light);
  background-color: var(--main-accent);
}

.catalog-product-price {
  margin: 0;
}

.catalog-product-button {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-light);
  outline: none;

  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-product-info {
  outline: none;

  background-color: var(--second-accent);
}

.catalog-product-info:hover,
.catalog-product-info:focus {
  background-color: var(--second-accent-dark);
}

.catalog-product-info:active {
  color: var(--extra-light-08);
}

.catalog-product-button-add {
  background-color: var(--main-accent);
}

.catalog-product-button-add:hover,
.catalog-product-button-add:focus {
  background-color: var(--medium-accent);
}

.catalog-product-button-add:active {
  color: var(--extra-light-08);
}

.catalog-product-button-add:disabled {
  background-color: var(--second-light);
}

.catalog-product-button-active {
  background-color: var(--basic-accent);
}

.catalog-product-button-active:hover,
.catalog-product-button-active:focus {
  background-color: var(--basic-accent-dark);
}

.catalog-product-button-active:active {
  color: var(--extra-light-08);
}

.catalog-product-button-active:disabled {
  background-color: var(--second-light);
}

.catalog-product-star-list {
  align-self: center;

  margin: 0;
  padding: 0;
  display: flex;

  list-style: none;
}

.catalog-product-star-item {
  width: 18px;
  height: 18px;

  background-image: url(../images/icon/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-product-star-item:not(:last-child) {
  margin-right: 6px;
}

.catalog-product-stars {
  margin: 0;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 18px;
}

.catalog-product-stars-1 {
  background-image: url("../images/icon/stars_1.svg");
}

.catalog-product-stars-2 {
  background-image: url("../images/icon/stars_2.svg");
}

.catalog-product-stars-3 {
  background-image: url("../images/icon/stars_3.svg");
}

.catalog-product-stars-4 {
  background-image: url("../images/icon/stars_4.svg");
}

.catalog-product-stars-5 {
  background-image: url("../images/icon/stars_5.svg");
}

.catalog-product-raiting-text {
  margin: 0;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--basic-light);
  border-radius: 4px;
}

/* Catalog-product-card | Grid | Slideshow | Start */
/* Стили сетки для разметки карточек на всю ширину */
.catalog-product-list-slideshow {
  grid-template-columns: 1fr;
}

.catalog-product-list-slideshow .catalog-product-card {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-product-list-slideshow .catalog-product-link {
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

.catalog-product-list-slideshow .catalog-product-title {
  order: 0;
  grid-column: 1 / -1;
  margin-bottom: 18px;
}

.catalog-product-list-slideshow .catalog-product-img {
  margin-bottom: 0;
}

.catalog-product-list-slideshow .catalog-product-button,
.catalog-product-list-slideshow .catalog-product-star-list,
.catalog-product-list-slideshow .catalog-product-raiting-text {
  align-self: end;
}

/* Catalog-product-card | Grid | List | Start */
/* Стили сетки для разметки карточек в виде списка */
.catalog-product-list-list {
  grid-template-columns: 1fr;
}

.catalog-product-list-list .catalog-product-card {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-product-list-list .catalog-product-link {
  flex-direction: row;

  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.catalog-product-list-list .catalog-product-title {
  order: 1;
  grid-column: 1 / -1;
  margin-right: 18px;
}

.catalog-product-list-list .catalog-product-img {
  width: 176px;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 0;
}

/* Pagination */
.catalog-pagination {
  padding-top: 40px;
}

.catalog-pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.catalog-pagination-link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: var(--extra-light);

  background-color: var(--main-accent);
  border-radius: 4px;
  outline: none;

  transition-property: color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.catalog-pagination-link:hover,
.catalog-pagination-link:focus {
  background-color: var(--medium-accent);
}

.catalog-pagination-link:active {
  color: var(--extra-light-08);
}

.catalog-pagination-link-active,
.catalog-pagination-link-active:hover,
.catalog-pagination-link-active:focus,
.catalog-pagination-link-active:active {
  color: var(--extra-dark);

  background-color: var(--basic-light);
  cursor: auto;
}

.catalog-pagination-more {
  color: var(--extra-dark);

  background-color: transparent;
}

.catalog-pagination-more:hover,
.catalog-pagination-more:focus {
  background-color: var(--basic-light);
  color: var(--extra-dark);
}

.catalog-pagination-more:active {
  color: var(--main-accent);

  background-color: transparent;
}

/* Subscribe */
.subscribe-inner {
  color: var(--basic-dark);

  background-color: var(--extra-light);
  background-image: none;
}

.subscribe-inner .subscribe-title {
  color: var(--extra-dark);
}
