:root {
  --extra-light: #ffffff;
  --basic-light: #f2f2f2;
  --second-light: #e5e5e5;
  --medium-light: rgba(255, 255, 255, 0.3);

  --extra-dark: #000000;
  --basic-dark: #333333;
  --second-dark: #3f5e72;
  --medium-dark: rgba(0, 0, 0, 0.3);

  --main-accent: #82b3d3;
  --main-accent-light: rgba(131, 179, 211, 0.12);
  --main-accent-dark: rgba(131, 179, 211, 0.2);
  --medium-accent: #68a2ca;
  --extra-accent: #ff5757;
  --basic-accent: #7db54f;
  --basic-accent-dark: #6c9e42;
  --second-accent: #756157;
  --second-accent-dark: #615048;
}
