.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

  text-align: center;

  background-color: var(--extra-light);
}

.footer-social {
  width: 142px;
  margin-right: 40px;
  flex-shrink: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 47px;
  height: 40px;

  color: #83b3d3;
  text-decoration: none;
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:hover path,
.footer-social-link:focus path {
  fill: var(--medium-accent);
  outline: none;
}

.footer-social-link:active {
  opacity: 0.3;
}

.footer-contacts {
  min-width: 440px;
  /* max-width: 670px; */
  flex-grow: 1;
  padding: 5px 20px;
}

.footer-contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--extra-dark);
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: var(--second-accent);
  outline: none;

  transition: color ease-in-out 0.2s;
}

.footer-contacts-phone:active {
  color: var(--second-accent);
  opacity: 0.3;
}

.footer-copyright {
  width: 142px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-copyright-link {
  margin-bottom: 20px;
  color: var(--extra-dark);
  text-decoration: none;
}

.footer-copyright-link:last-child {
  margin-bottom: 0;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus,
.footer-copyright-link:hover path,
.footer-copyright-link:focus path {
  fill: var(--second-accent);
  outline: none;
}

.footer-copyright-link:active {
  opacity: 0.3;
}
