.page-header {
  display: flex;
  padding: 0 70px;

  color: #000000;

  background-color: #ffffff;
}

.page-header-link {
  width: 140px;
  margin-right: 28px;
  position: relative;
}

.page-header-logo {
  display: block;
  position: absolute;
  z-index: 5;
}

.navigation {
  flex-grow: 1;
  display: flex;
}

.navigation-list {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;

  list-style: none;
}

.navigation-link {
  position: relative;
  height: 100%;
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-users {
  margin-right: 0;
  max-width: 320px;
  margin-left: auto;
  flex-grow: 0;
}

.navigation-users .navigation-link {
  padding: 20px 12px;
}

.navigation-link.navigation-button {
  min-width: 160px;
  padding: 8px 15px;
}

/* В этой реализации текст кнопки немного смещается вверх, интересно почему */
/* .navigation-link-active::after {
  content: "";
  position: relative;
  display: block;
  transform: translateY(22px);
  z-index: 5;
  border: 2px solid #756257;
} */

.navigation-link-active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 16px;
  right: 16px;
  z-index: 5;
  height: 4px;
  background-color: #756257;
}

.navigation-cart {
  position: absolute;
  top: 10px;
  right: 4px;

  display: block;
  padding: 2px;
  min-width: 20px;
  height: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-item-button {
  margin-left: 20px;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756157;
}
