/* Main */
.main-index {
  background-color: var(--extra-light);
}

/* Hero */
.hero {
  position: relative;
  min-height: 485px;
  padding: 50px 70px;

  text-align: center;
  color: var(--extra-light);

  background-color: var(--medium-accent);
  background-image: url("../images/background/background_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;
  background-image: url("../images/background/mask_backround_photo.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

/* Advantages */
.advantages {
  text-align: center;

  background-color: var(--extra-light);
}

.advantages-wrapper {
  padding: 70px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 25px;
}

.advantages-text {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Advantages-item */

.advantages-item {
  position: relative;

  width: 400px;
  min-height: 384px;
  background-color: var(--main-accent-02);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wrapper-item {
  height: 100%;
  padding: 100px 70px 50px;
  padding-top: 100px;
}

.advantages-item.advantages-item-accent {
  width: 100%;
  display: flex;
  background-color: var(--main-accent);
}

.advantages-item-accent .advantages-wrapper-item {
  width: 400px;
  padding-top: 90px;
}

.advantages-item-accent-secoond .advantages-wrapper-item {
  order: 1;
}

.advantages-item-accent .advantages-description,
.advantages-item-accent .advantages-item-title {
  color: var(--extra-light);
}

.advantages-item-title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  color: var(--extra-dark);
}

.advantages-item-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--extra-light);
  opacity: 0.3;
}

.advantages-item-title::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: var(--extra-dark);
  opacity: 0.3;
}

.advantages-item-accent .advantages-item-title::before {
  background-color: var(--extra-light);
}

.advantages-description {
  margin: 0;
  margin-bottom: 20px;
}

.advantages-img {
  justify-self: end;
  display: block;
  max-width: 100%;
  max-height: 768px;
  object-fit: contain;
}

.advantages-item.advantages-item-additional::before {
  content: "";
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advantages-item-additional-hotel.advantages-item-additional::before {
  background-image: url("../images/features/hotel.svg");
}

.advantages-item-additional-food.advantages-item-additional::before {
  background-image: url("../images/features/food.svg");
}

.advantages-item-additional-souvenir.advantages-item-additional::before {
  background-image: url("../images/features/souvenir.svg");
}

.advantages-item-additional .advantages-wrapper-item {
  padding-top: 172px;
}

.advantages-item-additional .advantages-item-title {
  padding-bottom: 0;
}

.advantages-item-additional .advantages-item-title::before {
  content: none;
}

.advantages-item-additional:nth-child(odd) {
  background-color: var(--extra-light);
}

/* Search */
.search {
  padding: 95px 70px 70px;
  display: flex;
  flex-direction: column;

  text-align: center;

  background-color: var(--extra-light);
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
}

.search-text {
  margin: 0;
  margin-bottom: 20px;
}

.search-text:last-child {
  margin-bottom: 0;
}

.search-text:last-child {
  margin-bottom: 0;
}

.search-button {
  max-width: 600px;
  margin-top: 35px;
  margin-bottom: 25px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  color: var(--extra-light);
  align-self: center;

  background-color: var(--second-accent);
  outline: none;

  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.search-button:only-child {
  margin-top: 0;
}

.search-button:hover,
.search-button:focus {
  background-color: var(--second-accent-dark);
}

.search-button:active {
  color: var(--extra-light-08);
}

/* Subscribe */
.subscribe {
  padding: 95px 70px 80px;

  color: var(--extra-light);
  text-align: center;

  background-color: var(--medium-accent);
  background-image: url("../images/background/background_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;

  color: var(--extra-light);
}

.subscribe-text {
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-form {
  max-width: 684px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.subscribe-form:only-child {
  margin-top: 0;
}

.subscribe-email {
  border: none;
  padding: 14px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--extra-dark);

  background-color: var(--basic-light);
  border-radius: 4px 0 0 4px;
  outline: 3px solid transparent;
  outline-offset: -3px;

  transition-property: background-color, outline-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.subscribe-email::placeholder {
  color: var(--extra-dark);
}

.subscribe-email:focus {
  background-color: var(--second-light);
  outline-color: var(--main-accent);
}

.subscribe-button {
  padding: 8px 50px;
  border: none;
  font-size: 20px;
  line-height: 36px;
  color: var(--extra-light);

  background-color: var(--main-accent);
  border-radius: 0 4px 4px 0;
  outline: none;

  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--medium-accent);
}

.subscribe-button:active {
  color: var(--extra-light-08);
}

.subscribe-button:disabled {
  background-color: var(--second-light);
}
