.main-index {
  background-color: #ffffff;
}

.hero {
  padding: 0 70px;

  text-align: center;
  color: #ffffff;

  background-color: #82B3D3;
  background-image: url("../images/background/background_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  text-align: center;

  background-color: #ffffff;
}

.advantages-wrapper {
  padding: 0 70px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item {
  width: 400px;
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .advantages-item-accent {
  width: 100%;
  background-color: #82B3D3;
}

.advantages-item-accent .advantages-description,
.advantages-item-accent .advantages-title {
  color: #ffffff;
}


.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  color: #000000;
}

.advantages-img {
  display: block;
}


.search {
  padding: 0 70px;

  text-align: center;

  background-color: #ffffff;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;

  background-color: #756157;
}

.subscribe {
  padding: 0 70px;

  color: #ffffff;
  text-align: center;

  background-color: #82B3D3;
  background-image: url("../images/background/background_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  color: #ffffff;
}

.subscribe-button {
  border: none;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;

  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.subscribe-email {
  border: none;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  opacity: 0.6;

  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}
